{% extends 'home.html' %}

{% block title %}Contacto | LectoPlay{% endblock %}

{% block content %}
<h1>Contáctanos 💌</h1>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form action="{% url 'contacto' %}" method="post" class="contact-form">
    {% csrf_token %}
    
    <label for="name">👦 Nombre:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">📧 Correo electrónico:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="message">💬 Mensaje:</label><br>
    <textarea id="message" name="message" rows="5" required></textarea><br><br>

    <label for="fecha">📅 Fecha de envío:</label><br>
    <input type="date" id="fecha" name="fecha" required><br><br>

    <button type="submit" class="btn">Enviar mensaje</button>
</form>


{% if success %}
<div id="modal" onclick="closeModal()" 
     style="position: fixed; top:0; left:0; width:100%; height:100%; 
            background: rgba(0,0,0,0.4); display:flex; align-items:center; 
            justify-content:center; z-index:9999;">

    <div onclick="event.stopPropagation()" 
         style="background:white; padding:30px; border-radius:20px; 
                width: 320px; text-align:center; box-shadow:0 4px 20px rgba(0,0,0,0.2);">

        <h2 style="color:#ff6fa8; margin-bottom:10px;">
            ¡Mensaje enviado! 🎉
        </h2>

        <p style="font-size:15px; color:#333; margin-bottom:20px;">
            Tu consulta fue registrada correctamente.
        </p>

        <!-- BOTÓN PARA VER CONSULTA  -->
        <a href="{% url 'usuario_ver_ticket' ticket_codigo %}"
           style="display:inline-block; background:#ff6fa8; color:white; 
                  padding:10px 20px; border-radius:8px; text-decoration:none; 
                  font-weight:bold; margin-bottom:15px;">
            Ver mi consulta
        </a>

        <br>

        <button type="button"
        onclick="document.getElementById('modal').style.display='none';"
        style="background:#ddd; color:#555; padding:8px 16px; 
               border:none; border-radius:6px; cursor:pointer;">
            Cerrar
        </button>


    </div>
</div>
{% endif %}


{% endblock %}

<script>
function closeModal() {
    document.getElementById('modal').style.display = 'none';
}
</script>

